@import "./variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $light-bg;
  color: $text-light;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, color 0.3s ease;

  a,
  button {
    margin-left: 1rem;
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      opacity: 0.8;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0; // que quede justo abajo del texto
      left: 0;
      width: 0%;
      height: 2px;
      background-color: $accent;
      transition: width 0.3s ease;
    }

  }

  .logo {
    width: 48px;
    height: 48px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: $accent;
    color: black !important;
    border-radius: 50%;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.4s ease;

    // Evita que se le aplique underline o hover
    &::after {
      display: none !important;
    }

    &:hover {
      // transform: rotate(6deg) scale(1.05);
      transform: scale(1.1);
    }

  }

  &.dark {
    background-color: $dark-bg;
    color: $text-dark;

    a,
    button {
      color: $text-dark;
    }

    .logo {
      background-color: $accent;
      color: $text-dark !important;
    }
  }

  .navbar-center {
    display: flex;
    gap: 1.5rem;

    a:not(.logo) {
      position: relative;
      font-weight: 500;
      transition: color 0.3s ease;
      line-height: 25px;
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        bottom: 0; // ajustado
        left: 0;
        width: 0%;
        height: 2px;
        background-color: $accent;
        transition: width 0.3s ease;
        z-index: 10;
      }

      &:hover {
        color: $accent;

        &::after {
          width: 100%;
        }
      }

      &.active {
        color: $accent !important;

        &::after {
          width: 100%;
        }
      }
    }
  }




  .navbar-right {
    display: flex;
    align-items: center;

    a {
      font-size: 1.5rem;
      line-height: 0px;
    }
  }

  .button-theme-color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    //font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: $bg-dark;
    color: $text-dark;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .button-lang-toggle {
    background-color:transparent;
    color: $text-light;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }


}
/* Ocultar menú mobile por defecto */
.mobile-menu {
  display: none;
}
.mobile-menu-btn {
  display: none;      /* > overlay */
}
.mobile-options, .mobile-menu-full {
  display: none;
}
/* Hide desktop menu in mobile */
@media (max-width: 768px)  {
  .desktop {
    display: none !important;
  }

  .mobile-menu-btn {
    display: flex !important;
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    background: none !important;
    border: none !important;
    font-size: 1.9rem !important;
    cursor: pointer !important;
    z-index: 4000;
    color: inherit;
    padding: 1rem;
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    right: -100%;   // <-- oculta completamente sin overflow
    background-color: inherit;
    width: 70%;
    max-width: 260px;
    padding: 1.5rem;
    border-radius: 0 0 0 12px;
    box-shadow: -2px 4px 10px rgba(0,0,0,0.15);
    display: flex !important;
    flex-direction: column;
    gap: 0rem !important;
    transition: right 0.3s ease;
  }

  .mobile-menu.open {
    right: 0;
    transform: translateX(0);
  }
  .mobile-menu-full {
    position: fixed;
    inset: 0; // ocupar pantalla completa
    background: #ffffff75; // oscurecer
    backdrop-filter: blur(12px); // BLUR moderno
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-100%); 
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    z-index: 2500;
    overflow-y: auto;
  }

  .mobile-menu-full.open {
    transform: translateY(0);
    opacity: 1;
  }


  .mobile-menu-full a,
  .mobile-menu-full button {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: $accent;
      transform: scale(1.05);
    }
  }

  .mobile-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0rem !important;

  }
  .a-mobile{
    margin: 0rem 1rem 0rem 1rem !important;
    font-size: 1.8rem !important;

  }
  .button-lang-toggle {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    font-size: 1.8rem !important;
    margin: 0px !important;
    margin-left: 1rem !important;
    padding: 1.5rem 0rem 0rem!important;
  }
    
  
}

/* Hide mobile menu button on desktop */
.mobile-menu-btn {
  display: none;
}
