@import "./variables";
@import "./mixins";
body {
  transition: background-color 0.3s, color 0.3s;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
//  MODO CLARO
body.light {
  background-color: $light-bg;
  color: $text-light-mode;

  .navbar {
    background-color: $light-bg;
    color: $text-light;
  }

  a {
    color: $primary;
  }
}

//MODO OSCURO
body.dark {
  background-color: $bg-dark;
  color: $text-dark-mode;

  .navbar {
    background-color: $nav-dark;
    color: $text-dark;
  }

  a {
    color: $accent;
  }
}
   


.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.active {
  background-color: #FFB300;
  color: #212121 !important;
}

.transition-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f9c642; // mostaza
  z-index: 9999;
  transform-origin: center;
}

/* ABOUT */
.about-header {
  background-color: #F5F5F5;
  padding: 3rem 1rem;

  p {
    font-size: 1.1rem;
    color: #263238;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 0.3rem 0;
      font-weight: 500;
    }
  }
}

.card {
  @include soft-shadow;
  @include flex-center;
  @include transition(all);

  padding: 1rem;
  background-color: $light-bg;

  @include respond-to(sm) {
    flex-direction: column;
  }
}