body {
  
//background-color: #F5F5F5;
  margin: 0px;
  padding: 0px;
}

body.light {
  background-color: #ffffff;
  color: #111;
}

body.dark {
  background-color: #121212;
  color: red;
}

/* NAVBAR */
.dark-nav {
  background-color: #212121;
  height: 64px;
  display: flex;
  align-items: center;

  .logo-circle {
    background-color: #FFB300;
    color: #212121;
    font-weight: bold;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
  }

  a, span, i {
    color: #fff !important;
    font-weight: 500;
  }

  li {
    margin-left: 15px;
  }
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.active {
  background-color: #FFB300;
  color: #212121 !important;
}

.transition-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f9c642; // mostaza
  z-index: 9999;
  transform-origin: center;
}

/* ABOUT */
.about-header {
  background-color: #F5F5F5;
  padding: 3rem 1rem;

  p {
    font-size: 1.1rem;
    color: #263238;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 0.3rem 0;
      font-weight: 500;
    }
  }
}