@import "./variables";
@import "./mixins";
@import "./about";


body {
  background: var(--bg);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  min-height: 100%;
}

/* Secciones */
.section-body {
  width: 100%;
  min-height: 100%;
}

/* Tipografías */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
}


/* Links */
a {
  color: var(--accent);
}

/* Active nav */
.active {
  background-color: var(--highlight);
  color: var(--surface) !important;
}

/* Card */
.card {
  @include soft-shadow;
  @include flex-center;
  @include transition(all);

}

/* Timeline section */
.background-color {
  background-color: var(--surface);
  padding: 2rem 0;
  margin: 2rem 0;
}

.text-timeline {
  color: var(--primary);
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
}
/* Footer */
.footer-container {
  background-color: var(--primary);
  text-align: center;
  padding: 2rem;
  color: var(--accent);
}
.dark .footer-container{
  background-color: var(--surface) !important;
 
}
